.text-gray{
    color: gray;
}
h1,a,h3,h4{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Oxygen', sans-serif;
}
header{
    background-color:#fffbf1;
}
.profile-info{
    width: 300px;
    margin: 150px 0px 0px 100px;

    
}
.top-banner{
    width: 500px;
    margin-bottom: 100px!important;
}
.card-img img{
    height: 100%;
}
.card-img{
    height: 450px;
    padding: 50px;
    background-color: whitesmoke;
    border-radius: 15px!important;
    
}
.my-card{
    background-color: white!important;
    border: 0!important;
}
.box-size{
    width: 500px;
    padding: 20px;

}
.last-banner img{
    width: 100%;
}
.last-icon{
    width: 15%;
}
#about-us{
    margin-bottom: 200px;
    margin-top: 100px;
}
.mt-10{
    margin-top: 100px;
}
.my-btn{
    background-color: #a5bb53!important;
    color: white!important;
}
.text-orange{
    color: #f8bb59;
}

